// Fontawesome path
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// Material design path
$mdi-font-path: '~@mdi/font/fonts';
// Custom twbt
$card-border-color: #e3e6f0 !important;
$list-group-border-color: #e3e6f0 !important;
$list-group-active-border-color: #e3e6f0 !important;
// Custom color
$default-primary: #3a1143;
